.root {
  border: none;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 9px;
  cursor: pointer;
  outline: 0;

  font-family: Karla;
  font-style: normal;
  font-weight: bold;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #212121;

  &:active {
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 6px;
  }
}

.green {
  background: #73d677;
}

.yellow {
  background: #f5db13;
}

.small {
  width: 66px;
  height: 19px;
  font-size: 13px;
}

.normal {
  width: 231px;
  height: 66px;
  font-size: 23px;
  line-height: 27px;
}

.wide {
  width: 340px;
  height: 60px;
  font-size: 23px;
  line-height: 27px;
}
