.heading {
  font-family: Karla;
  margin: 0;
}

.sizeXL {
  /* h1 */
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}

.sizeL {
  /* h2 */
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

.sizeM {
  /* h3 */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
