/* Header */
.header {
  position: absolute;
  width: 1440px;
  height: 93px;
  left: 86px;
  top: 2720px;
}

/* Logo */
.logo {
  position: absolute;
  left: 10.9%;
  right: 78.18%;
  top: 15.05%;
  bottom: 17.2%;
}
