.header {
  font-size: 64px;
}

.main {
  position: absolute;
  left: 0.07%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* yellowGradient */
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}
